{% extends 'layout.html' %}

{% block content %}

<!-- 
    만약 로그인이 되어있는 상태라면 ?  
        => 로그아웃, 회원 전체검색, 특정회원 검색, 회원 탈퇴.
        => XX님 환영합니다 
    만약 로그인이 안되어있는 상태라면 
        => 회원가입, 로그인
        => 로그인을 해주세요!

-->

{% if nick == "" %}
<p>로그인을 해주세요</p>
<div class="btn-group">
    <a href="">
        <button type="button" class="btn btn-primary">로그인</button>
    </a>
{% else  %}
    <div class="btn-group"></div>
    <a href="">
        <button type="button" class="btn btn-primary">로그아웃</button>
    </a>
    {% endif %}
</div>
{% endblock %}