<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신규가게등록</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbit:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin6.css">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>신규 가게 등록</h1>
    </header>



    <!-- Body --> 
    <div class="main-container">
        <table class="info-table">
            <tr>
                <th>대표자명</th>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <th>가게명</th>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <th>사업자 번호</th>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <th>사업장 주소</th>
                <td>

                    <div id="map" style="width: 10%; height: 50px;"></div>

                </td>
            </tr>
            <tr>
                <th>상세 주소</th>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <th>전화 번호</th>
                <td>
                    <input type="text">
                </td>
        </table>
    </div>
        <div class="table-container">
            <table>
                <tr>
                    <th>
                        <button>저장</button>
                        <button>목록</button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</body>

</body>
</html>