{% extends 'm_layout.html' %}

{% block content %}

<head>
    <link rel="stylesheet" href="/assets/css/admin1.css">
    <link rel="stylesheet" href="/assets/css/pagenationTable.css">
</head>
<div style="flex-grow: 9;">
    <!-- Header -->
    <header style="display: flex; justify-content: center; flex-direction: row;">
        <div>사용자</div>
    <link rel="stylesheet" href="/assets/css/admin1.css">
    </header>

    <!-- Body -->
    <form action="/manager">
        <div class="search-section">
            <input type="text" name='userSearch' placeholder="아이디를 입력해주세요">
            <input type="submit" value="검색">
        </div>
    </form>

    <div class="table-container">
        <table id="table-one">
            <tr>
                <th>일련번호</th>
                <th>아이디</th>
                <th>비밀번호</th>
                <th>이름</th>
                <th>닉네임</th>
                <th>전화번호</th>
                <th>가입일자</th>
                <th>사용자 삭제</th>
            </tr>

            <form method="post" action="/manager/userDelete">
                <tbody>
                    {% for i in list %}
                    <tr>
                        <th>{{i.rownum}}</th>
                        <th>{{i.user_id}}</th>
                        <th>{{i.user_pw}}</th>
                        <th>{{i.user_name}}</th>
                        <th>{{i.user_nick}}</th>
                        <th>{{i.user_phone}}</th>
                        <th>{{i.created_at}}</th>
                        <th>
                            <button type="button" onclick="deleteUserRow({{i.user_seq}})">삭제</button>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </form>

        </table>
    </div>
    <script src="./assets/js/pagenationTable.js"></script>
    <script>
        Paginator.init({ tableID: "table-one", rows: 14, headers: 2, navRange: 5, navStyle: 'default' });
    </script>

    <script>
        // document.getElementById("deleteRow").addEventListener("click", deleteRow);
        let refreshList = () => {
            location.reload()
        }
        let url = "/manager/userDelete"
        const deleteUserRow = (user_seq) => {
            let rs = confirm("삭제하시겠습니까?")
            if (rs == true) {
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        seq: user_seq

                    })
                })
                    .then(res => res.json())
                    .then(res => { })


                alert("삭제되었습니다.");
                refreshList();
            }
        }
    </script>
</div>
{% endblock %}