{% extends 'test_layout.html' %}

{% block content %}

<head>
    <link rel="stylesheet" href="/assets/css/test.css">
    <link rel="stylesheet" href="/assets/css/pagenationTable.css">
</head>

<!-- Body -->
<form action="/manager">
    <div class="search-section">
        <a class = "section-name" >사용자 정보</a>
        <br>
        <input id = "input1" type="text" name='userSearch' placeholder="아이디를 입력해주세요">
        <input id = "input2" type="submit" value="검색">
    </div>
</form>
<div id="blank"></div>
<div class="table-container">
    <div class="row">
        <div class="col-xs-12">
            <table id="table-one">
                <thead>
                    <tr>
                        <th>일련번호</th>
                        <th>아이디</th>
                        <th>비밀번호</th>
                        <th>이름</th>
                        <th>닉네임</th>
                        <th>전화번호</th>
                        <th>가입일자</th>
                        <th>사용자 삭제</th>
                    </tr>
                </thead>

                <form method="post" action="/manager/userDelete">
                    <tbody>
                        {% for i in list %}
                        <tr>
                            <td>{{i.rownum}}</td>
                            <td>{{i.user_id}}</td>
                            <td>{{i.user_pw}}</td>
                            <td>{{i.user_name}}</td>
                            <td>{{i.user_nick}}</td>
                            <td>{{i.user_phone}}</td>
                            <td>{{i.created_at}}</td>
                            <td>
                                <button type="button" onclick="deleteUserRow({{i.user_seq}})">삭제</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </form>

            </table>
        </div>
    </div>
</div>
<div class="bodyLayout">
    <script src="./assets/js/pagenationTable.js"></script>
    <script>
        Paginator.init({ tableID: "table-one", rows: 14, headers: 2, navRange: 5, navStyle: 'default' });
    </script>

    <script>
        // document.getElementById("deleteRow").addEventListener("click", deleteRow);
        let refreshList = () => {
            location.reload()
        }
        let url = "/manager/userDelete"
        const deleteUserRow = (user_seq) => {
            let rs = confirm("삭제하시겠습니까?")
            if (rs == true) {
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        seq: user_seq

                    })
                })
                    .then(res => res.json())
                    .then(res => { })


                alert("삭제되었습니다.");
                refreshList();
            }
        }
    </script>
</div>
{% endblock %}