{% extends 'm_layout.html' %}

{% block content %}

<head>
    <title>등록가게</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbit:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/admin2.css">
    <link rel="stylesheet" href="/assets/css/pagenationTable.css">
</head>
<div style="flex-grow: 9;">
    <!-- Header -->
    <header style="display: flex; justify-content: center; flex-direction: row;">
        <h1>등록 가게</h1>
    </header>

    <!-- Body -->
    <form action="/manager/admin2_S_userpage">
        <div class="search-section">
            <input type="text" name='shopSearch' placeholder="검색어를 입력해주세요">
            <input type="submit" value="검색">
        </div>
    </form>


    <div class="table-container">
        <table id="table-one">
            <tr>
                <th>일련번호</th>
                <th>사업자명</th>
                <th>사업자번호</th>
                <th>주소</th>
                <th>상세주소</th>
                <th>전화번호</th>
                <th>대표자명</th>
                <th>등록일자</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>

        <form method="post" action="/manager/shopDelete">
            <tbody>

                {% for i in list %}
                <tr>
                    <td>{{i.rownum}}</td>
                    <td>
                        <a href="/admin4_menu_register?shop_seq={{i.shop_seq}}">
                            {{i.shop_name}}
                        </a>
                    </td>
                    <td>{{i.shop_bno}}</td>
                    <td>{{i.shop_addr1}}</td>
                    <td>{{i.shop_addr2}}</td>
                    <td>{{i.shop_tel}}</td>
                    <td>{{i.shop_owner}}</td>
                    <td>{{i.created_at}}</td>
                    <td>
                        <button type="button">수정</button>
                    </td>
                    <td>
                        <button type="button" onclick="deleteShopRow({{i.shop_seq}})">삭제</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </form>


        </table>
    </div>
    <script src="./assets/js/pagenationTable.js"></script>
    <script>    
        Paginator.init({tableID:"table-one", rows:5, headers:2, navRange:5,navStyle:'default'});
    </script>

    <script>
            let refreshList = () => {
                location.reload()
            }
            let url = "/manager/shopDelete"
            const deleteShopRow = (shop_seq) => {
                let rs = confirm("삭제하시겠습니까?")
                if (rs == true) {
                    fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            seq : shop_seq
    
                        })
                    })
                        .then(res => res.json())
                        .then(res => {})
    
    
                    alert("삭제되었습니다.");
                    refreshList();
                }
            }
        </script>
       
</div>>
{% endblock %}