{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="/assets/css/kakao.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<!-- <link rel="stylesheet" href="/assets/css/index.css"> -->

<style>

    .main {
        display : flex;
        justify-content: center
    }

    .main img {
        position:absolute; 
        z-index:2; 
        width:500px; 
        margin: auto;
        left:0;
        right:0;
        top: 0;
        bottom: 0;
    }

</style>

<body>
    <div class="main" >
        <div style="background:url('./assets/img/coffee1.jpg'); height:80vh; width:100%;">
        <img src="./assets/img/saram2.png">

        </div>
        <!-- <img src="./assets/img/coffee1.jpg" style="position:relative; z-index:1;"> -->
    </div>
</body>


{% endblock %}