{% extends 'layout.html' %}

{% block content %}
<body>
    <h1>hihi</h1>
    <p>
        {% if(name === undefined)%}
        <a href="/login">
            <button>로그인</button>
        </a>
        {%else%}
        {{name}}
        <a href="/user/logout">
            <button type="button" onclick="kakaoLogout()">로그아웃</button>
        </a>
        {%endif%}
    </p>

    <br>
    <form action="/search">
        <select name="category" id="asd">
            <option value="all">전체</option>
            <option value="smoothie">스무디</option>
            <option value="coffee">커피</option>
            <option value="티">티</option>
            <option value="에이드">에이드</option>
            <option value="그외">그 외</option>
        </select>
        <input type="text" name="inputmenu">
        <input type="submit">
    </form>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        Kakao.init('c1b7cc23c48477786fcb69b68f5862e5'); //발급받은 키 중 javascript키를 사용해준다.
        //console.log(Kakao.isInitialized()); // sdk초기화여부판단
    </script>
    <script src="assets/js/click.js"></script>
</body>
{% endblock %}