<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>hihi</h1>
    <p>
        {% if(name === undefined)%}
        <a href="/login">
            <button>로그인</button>
        </a>
        {%else%}
        {{name}}
        <a href="/user/logout">
            <button type="button" onclick="kakaoLogout()">로그아웃</button>
        </a>
        {%endif%}
    </p>

    <br>
    <form action="/search">
        <select name="category" id="asd">
            <option value="all">전체</option>
            <option value="smoothie">스무디</option>
            <option value="coffee">커피</option>
            <option value="티">티</option>
            <option value="에이드">에이드</option>
            <option value="그외">그 외</option>
        </select>
        <input type="text" name="inputmenu">
        <input type="submit">
    </form>

</body>
</html>