<!-- 메인 레이아웃 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body-with-fixed-footer">

    <header>
        <div class="logo">
            <img src="./assets/img/KakaoTalk_20230815_201750992.png" alt="AFTER LUNCH">
        </div>
        <nav>
            <ul>
                <li><a class="bordered-link" href="#">메뉴 검색</a></li>
                <li><a class="bordered-link" href="#">랭킹</a></li>
                <li><a class="bordered-link" href="/mypage">마이페이지</a></li>
                <li><a class="bordered-link" href="/login">로그아웃</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>메인 페이지 푸터입니다</footer>
</body>
</html>