{% extends 'layout.html' %}

{% block content %}

<body>

    <link rel="stylesheet" href="/assets/css/login.css">

    <div id="con">
        <div id="login">
            <div id="login_form">
                <!-- 로그인 폼 -->
                <form method="post" action="../user/login">
                    <h3 class="login" style="letter-spacing: -1px;"> AFTER LUNCH </h3>
                    <hr>
                    <label for="">
                        <!-- ID -->
                        <p style="text-align: left; font: size 12px; color:#666"> 아이디 </p>
                        <input type="text" placeholder="아이디를 입력하세요" class="size" name="id">
                    </label>

                    <label for="">
                        <!-- PASSWORD -->
                        <p style="text-align: left; font: size 12px; color:#666"> 비밀번호 </p>
                        <input type="text" placeholder="비밀번호를 입력하세요" class="size" name="pw">
                    </label>

                    <p>
                        <input type="submit" value="로그인" class="btn">
                    </p>
                </form>
                <hr>
                <p class="find">
                    <span><a href="">아이디 찾기</a></span>
                    <span><a href="">비밀번호 찾기</a></span>
                    <span><a href="">회원가입</a></span>
                </p>
            </div>
        </div>
    </div>

    <ul>
        <li onclick="kakaoLogin();">
           <a href="javascript:void(0)">
               <span>카카오 로그인</span>
           </a>
        </li>
        <li onclick="kakaoLogout();">
           <a href="javascript:void(0)">
               <span>카카오 로그아웃</span>
           </a>
        </li>
     </ul>
     
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        Kakao.init('c1b7cc23c48477786fcb69b68f5862e5'); //발급받은 키 중 javascript키를 사용해준다.
        console.log(Kakao.isInitialized()); // sdk초기화여부판단

        //카카오로그인
        function kakaoLogin() {
            Kakao.Auth.login({
                success: function (response) {
                    Kakao.API.request({
                        url: '/v2/user/me',
                        success: function (response) {
                            let nick = response.kakao_account.profile.nickname;
                            location.href=`http://localhost:3333?nick=${nick}`
                        },
                        fail: function (error) {
                            console.log(error)
                        },
                    })
                    
                },
                fail: function (error) {
                    console.log(error)
                },
            })
        }
        //카카오로그아웃  
        function kakaoLogout() {
            if (Kakao.Auth.getAccessToken()) {
                Kakao.API.request({
                    url: '/v1/user/unlink',
                    success: function (response) {
                        console.log(response)
                    },
                    fail: function (error) {
                        console.log(error)
                    },
                })
                Kakao.Auth.setAccessToken(undefined)
            }
        }  
    </script>

</body>
{% endblock %}