<!-- 관리용 페이지 레이아웃 -->
<!DOCTYPE html>
<html>
<head>
    <title>레이아웃</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbit:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/m_layout.css">
    


</head>
<body>
    <header>
        <!-- 로그인 기능 등을 넣는 부분 -->
        <div class="login-logout-nav">
            <a href="/manager">로그인</a>
            <!-- <a href="#">로그아웃</a> -->
        </div>
        <div class="logo">
            <!-- <img src="https://i.ibb.co/3493r17/cat.jpg" alt="당신의 로고"> -->
        </div>
    </header>
        <!-- 기존의 내비게이션과 검색 입력란 -->
        <div style="display: flex; width:100%">
            <div class="zero"></div>
        <nav>
            <ul>
                <!-- <img src="/img/al_logo.png" alt=""> -->
                <li><a>회원관리</a></li>
                <li><a href="/admin1_userpage">사용자</a></li>
                <li><a href="/admin2_S_userpage">등록가게</a></li>
                
                <li><a>카페관리</a></li>
                <li><a href="/admin6_shop_register">신규 가게 등록</a></li>
                <li><a href="#contact">위치정보관리</a></li>
                <li><a href="/admin8_review_manage">리뷰관리</a></li>
            </ul>
        </nav>
        
        {% block content %}
        {% endblock %}
        </div>


    <footer>
        <!-- 여기에 푸터 내용 추가 -->
        <p>FOOTER</p>
    </footer>
</body>
</html>
