{% extends 'test_layout.html' %}

{% block content %}

<head>
    <link rel="stylesheet" href="/assets/css/test.css">
</head>

<style>
    table{
        width: 700px;
    }
    th{
        width : 20em;  
        text-align: center;
        border-bottom: 1px rgba(68, 45, 31, 0.916) solid;
    }
    td{
        width: 30em;
    }
    a{
        margin-right: 5em;
    }
    button{

        border-top : none;
        border-left : none;
        border-right: none;
        border-bottom: none;
    }
    .in{
        border-bottom: 3px black solid;
    }
    .in2{
        border: none;
        text-align: center;
    }



</style>

<!-- Body -->
<div class="search-section">
    <a class="section-name">메뉴 수정</a><br>
</div>
<form method='post' action="/img/m_menu_modi" encType="multipart/form-data">
    <div id="blank-n"></div>
    <div class="main-container">
        <div class="row">
            <div class="col-xs-12">
                <table class="info-table">
                    <tr>
                        <thead>
                            <th>메뉴 이름</th>
                            <td>
                                <input type="text" name="menuname" value="{{cols.menu_name}}">
                                <!-- <output name="result">카페 이름이 출력</output> -->
                            </td>
                    </tr>
                    <tr>
                        <th>이미지등록</th>
                        <td>
                            <img src="./uploads/{{cols.menu_img}}" id="previewImage" alt="Preview Image"
                                style="height: 200px; width: 200px;" />
                                <div class="previewProfile">
                                    <input type="file" id="profileFile" name="menu_img" value="{{cols.menu_img}}"
                                        accept="image/*">
                                </div>
                        </td>
                    </tr>
                    <tr>
                        <th>메뉴 가격</th>
                        <td>
                            <input type="text" name="price" value="{{cols.menu_price}}">
                        </td>
                    </tr>
                    <tr>
                        <th>제공 형식</th>
                        <td>
                            <label>
                                {% if cols.menu_type %}
                                <input type="radio" name="temperature" value="ALL" checked>
                                <a>ALL</a>
                                {% endif %}
                                {% if cols.menu_type %}
                                <input type="radio" name="temperature" value="ICE" checked>
                                <a>ICE</a>
                                {% endif %}
                                {% if cols.menu_type %}
                                <input type="radio" name="temperature" value="HOT">
                                <a>HOT</a>
                                {% endif %}
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>추가 옵션</th>
                        <td>
                            <input type="text" name="option" value="{{cols.menu_options}}">
                        </td>
                    </tr>
                    <tr>
                        <th>메뉴 설명</th>
                        <td>
                            <input type="text" name="info" value="{{cols.menu_desc}}">
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리</th>
                        <td>
                            <select name="category" class="category">
                                {%if cols.menu_category =='smoothie'%}
                                <option value="smoothie" selected>스무디</option>
                                <option value="coffee">커피</option>
                                <option value="tea">티</option>
                                <option value="ade">에이드</option>
                                <option value="etc">그외순서</option>
                                {%elif cols.menu_categor=='coffee'%}
                                <option value="smoothie">스무디</option>
                                <option value="coffee" selected>커피</option>
                                <option value="tea">티</option>
                                <option value="ade">에이드</option>
                                <option value="etc">그외순서</option>
                                {%elif cols.menu_category=='tea'%}
                                <option value="smoothie">스무디</option>
                                <option value="coffee">커피</option>
                                <option value="tea" selected>티</option>
                                <option value="ade">에이드</option>
                                <option value="etc">그외순서</option>
                                {%elif cols.menu_category==ade%}
                                <option value="smoothie">스무디</option>
                                <option value="coffee">커피</option>
                                <option value="tea">티</option>
                                <option value="ade" selected>에이드</option>
                                <option value="etc">그외순서</option>
                                {%elif cols.menu_category=='etc'%}
                                <option value="smoothie">스무디</option>
                                <option value="coffee">커피</option>
                                <option value="tea">티</option>
                                <option value="ade">에이드</option>
                                <option value="etc" selected>그외순서</option>
                                <!-- {%else%}
                        <option value="smoothie">스무디</option>
                        <option value="coffee">커피</option>
                        <option value="tea">티</option>
                        <option value="ade">에이드</option>
                        <option value="etc">그외순서</option> -->
                                {% endif %}
                            </select>
                            <!-- 원하는 만큼 카테고리를 추가할 수 있습니다 -->
                        </td>
                    </tr>
                    <tr>
                        <th>태그(메뉴특징)</th>
                        <td>
                            <input type="text" name="tags" value="{{cols.menu_ingredient_tag}}">
                        </td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th class="in2" >
                    <input type="hidden" name="menu_seq" value="{{ cols.menu_seq }}">
                    <input type="hidden" name="shop_seq" value="{{ shop_seq }}">
                    <input type="hidden" name="shop_name" value="{{ shop_name }}">
                    <button class="in" type="submit">수정</button>
                    <button class="in" onclick='location.href="http://localhost:3333/m_shop_dt"'>목록</button>
                </th>
            </tr>
        </table>
    </div>
    </div>

    <script src="assets/js/menuImg.js"></script>
    </div>

    {% endblock %}