{% extends 'm_layout.html' %}

{% block content %}

<head>
    <title>등록가게</title>
    <link rel="stylesheet" href="assets/css/admin2.css">
</head>
<div style="flex-grow: 9;">
    <!-- Header -->
    <header style="display: flex; justify-content: center; flex-direction: row;">
        <h1>등록 가게</h1>
    </header>

    <!-- Body -->
    <form action="/manager/admin2_S_userpage">
        <div class="search-section">
            <input type="text" name='shopSearch' placeholder="검색어를 입력해주세요">
            <input type="submit" value="검색">
        </div>
    </form>


    <div class="table-container">
        <table>
            <tr>
                <th>가게일련번호</th>
                <th>메뉴이름</th>
                <th>메뉴가격</th>
                <th>메뉴설명</th>
                <th>제공형태</th>
                <th>옵션</th>
                <th>카테고리</th>
                <th>메뉴이미지 경로</th>
            </tr>

            {% for i in list %}
            <tr>
                <th>{{i.shop_seq}}</th>
                <th>
                        {{i.menu_name}}
                </th>
                <th>{{i.menu_price}}</th>
                <th>{{i.menu_desc}}</th>
                <th>{{i.menu_type}}</th>
                <th>{{i.menu_options}}</th>
                <th>{{i.menu_category}}</th>
                <th>{{i.menu_img}}</th>
            </tr>
            {% endfor %}


            <tr>
                <td colspan="8">가게 정보 : 카페 사업자 + 메뉴에 대한 정보</td>
            </tr>
        </table>
    </div>
</div>>
{% endblock %}