<!-- 헤더 -->
{% extends 'layout.html' %}

{% block content %}

<link rel="stylesheet" href="/assets/css/mypage.css">
<script defer type="text/javascript" src="/assets/js/mypage.js"></script>

<!-- 즐찾 메뉴 들어올 자리 ! -->
<div class="container mymenu" style="display: flex;">
    <button class="arbtn" id="leftbtn">❮</button>
    <div>
        <h1>MY MENU</h1>
        <div class="division-line"></div>
        <br />
        {% if menulist %}
        <div class="row menu_card">
            {% for i in menulist %}
            <div class="col-md-4">
                <div class="card" style="width:100%;">
                    <div class="imgSize">
                        <img src="/uploads/{{i.menu_img}}" class="card-img-top" alt="...">
                    </div>
                    <!-- 빈 하트입니다 -->
                    <button><img src="/assets/img/whiteheart.png" alt="빈하트" class="white-like"></button>
                    <!-- 채워진 하트입니다 -->
                    <button><img src="/assets/img/fullheart.png" alt="채워진하트" class="full-like"></button>
                    <div class="card-body">
                        <h5 class="card-title">{{i.menu_name}}</h5>
                        <p class="card-text">{{i.shop_name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <button class="arbtn" id="rightbtn">❯</button>
</div>


<!-- 즐찾 카페 들어올 자리 ! -->
<div class="container mycafe" style="display: flex;">
    <button class="arbtn" id="cafe_leftbtn">❮</button>
    <div>
        <h1>MY CAFE</h1>
        <div class="division-line"></div> <br />
        {% if shoplist %}
        <div class="row cafe_card">
            {% for i in shoplist %}
            <div class="col-md-4">
                <div class="card" style="width:100%;">
                    <div class="imgSize">
                        <img src="/shop_uploads/{{i.shop_img}}" class="card-img-top" alt="...">
                    </div>
                    <!-- 빈 하트입니다 -->
                    <button><img src="/assets/img/whiteheart.png" alt="빈하트" class="white-like"></button>
                    <!-- 채워진 하트입니다 -->
                    <button><img src="/assets/img/fullheart.png" alt="채워진하트" class="full-like"></button>
                    <div class="card-body">
                        <h5 class="card-title">{{i.shop_name}}</h5>
                        <p class="card-text">{{i.shop_addr1}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <button class="arbtn" id="cafe_rightbtn">❯</button>
</div>


<!-- 리뷰 들어올 자리 ! my review -->
<div class="container myreview" style="display: flex;">
    <button class="arbtn" id="review_leftbtn">❮</button>
    <div>
        <h1>MY REVIEW</h1>
        <div class="division-line"></div> <br />
        {% if reviewlist %}
        <div class="row review_card">
            {% for i in reviewlist %}
            <div class="col-md-4">
                <div class="card" style="width:100%;">
                    <div class="imgSize">
                        <!-- 아래 이미지태그는 리뷰에 해당하는 메뉴 사진 자리 입니다 -->
                        <img src="/uploads/{{i.menu_img}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">"{{i.review_content}}"</h5>
                        <p class="card-text">{{i.shop_name}} | {{i.menu_name}}</p>
                        <a href="#" class="btn btn-primary">리뷰 삭제</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <button class="arbtn" id="review_rightbtn">❯</button>
</div>


{% endblock %}