<!-- 헤더 -->
{% extends 'layout.html' %}

{% block content %}


<link rel="stylesheet" href="/assets/css/ranking.css">

    
    

    <div class="main">
      <div class="tables">
        <!--리뷰 많은 메뉴 순위 테이블  -->
        <div class="hot-menu">
          <h1 id="hot-mu-rk">화제의 메뉴 순위</h1>
          <div class="ranking-imgs">
            <h4 id="num-1">🥇</h4>
            <div class="rangking-img ranking-one"><img class="rk-one rkimg" src="./uploads/{{M_Rlist[0].menu_img}}"
                alt="1위 이미지 들어갈 공간"></div>
            <div class="num-two-three">
              <h4 id="num-2">🥈</h4>
              <h4 id="num-3">🥉</h4>
            </div>
            <div class="two-three-img">
              <div class="rangking-img ranking-two"><img class="rk-two rkimg" src="./uploads/{{M_Rlist[1].menu_img}}"
                  alt="2위 이미지 들어갈 공간"></div>
              <div class="rangking-img ranking-three"><img class="rk-three rkimg"
                  src="./uploads/{{M_Rlist[2].menu_img}}" alt="3위 이미지 들어갈 공간"></div>
            </div>
          </div>
          <table class="table col-md-4 table-hover table-borderless table-font rk-menu">
            <thead class="table-title">
              <tr>
                <th scope="col title-menu">⭐</th>
                <th scope="col title-menu">CAFE</th>
                <th scope="col title-menu">MENU</th>
              </tr>
            </thead>
            <tbody>

              {% for i in M_Rlist %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{i.shop_name}}</td>
                <td>{{i.menu_name}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        <div class="review-menu">
          <h1 id="hot-rv-rk">화제의 리뷰 순위</h1>
          <div class="review-imgs">
            <h4 id="num-1">🥇</h4>
            <div class="rangking-img ranking-one"><img class="rv-one rkimg" src="./uploads/{{R_Rlist[0].menu_img}}"
                alt="1위 이미지 들어갈 공간"></div>
            <div class="num-two-three">
              <h4 id="num-2">🥈</h4>
              <h4 id="num-3">🥉</h4>
            </div>
            <div class="two-three-img">
              <div class="rangking-img ranking-two"><img class="rv-two rkimg" src="./uploads/{{R_Rlist[1].menu_img}}"
                  alt="2위 이미지 들어갈 공간"></div>
              <div class="rangking-img ranking-three"><img class="rv-three rkimg"
                  src="./uploads/{{R_Rlist[2].menu_img}}" alt="3위 이미지 들어갈 공간"></div>
            </div>
          </div>

          <table class="table col-md-4 table-hover table-borderless rk-rivew">
            <thead>
              <tr class="table-title review-col">
                <th scope="col">⭐</th>
                <th scope="col">MENU</th>
                <th scope="col">CAFE</th>
                <th scope="col">REVIEW</th>
              </tr>
            </thead>
            <tbody>

              {% for i in R_Rlist %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{i.menu_name}}</td>
                <td>{{i.shop_name}}</td>
                <td>{{i.review_content}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>

  {% endblock %}