<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게정보수정</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbit:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/admin6.css">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>가게 정보 수정</h1>
    </header>



    <!-- Body --> 
    <form method='post' action="/manager/shopRegister">
    <div class="main-container">
        <table class="info-table">
            <tr>
                <th>가게명</th>
                <td>
                    <input type="text" name="shopname" >
                </td>
            </tr>
            <tr>
                <th>사업자번호</th>
                <td>
                    <input type="text" name="bno" >
                </td>
            </tr>
            <tr>
                <th>사업장 주소</th>
                <td>
                    <input type="text" name="addr1" >
                </td>
            </tr>
            <tr>
                <th>상세주소</th>
                <td>
                    <input type="text" name="addr2" >
                </td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>
                    <input type="text" name="tel" >
                </td>
            </tr>
            <tr>
                <th>대표자명</th>
                <td>
                    <input type="text" name="ownername" >
                </td>
        </table>
    </div>
        <div class="table-container">
            <table>
                <tr>
                    <th>
                        <button type = "submit" id = "join">저장</button>
                        <button type = "button" onclick = "location.href='localhost:3333/admin2_S_userpage.html'">목록</button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</body>
</form>

</html>