<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등록가게</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbit:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin2.css">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>등록 가게</h1>
    </header>

    <!-- Body -->
    <div class="search-section">
        <input type="text" placeholder="검색어를 입력해주세요">
        <a href="">
            <button>검색</button>
        </a>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th>일련번호</th>
                <th>사업자명</th>
                <th>사업자번호</th>
                <th>주소</th>
                <th>상세주소</th>
                <th>전화번호</th>
                <th>대표자명</th>
                <th>등록일자</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td colspan="8">가게 정보 : 카페 사업자 + 메뉴에 대한 정보</td>
            </tr>
        </table>
    </div>


</body>
</html>
